@import "tailwindcss";

*{
  font-family: "Inter", sans-serif;

}

.fonte-nome {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}
.tecnologias {
  display: grid;
  grid-auto-flow: column; 
  grid-template-rows: repeat(4, auto); 
  gap: 1rem;
}
input {
  background-color: rgb(34, 34, 34);
  padding-left: 25px;
  width: 450px;
  height: 50px;
  border-radius: 3px;
}
textarea{
  background-color: rgb(34, 34, 34);
  border-radius: 3px;
}
label{
  font-weight: 500;
}